<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="whitepay"
                   translate="label comment"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Whitepay</label>
                <comment>
                    <![CDATA[
                        <div class="whitepay-payment-logo"></div>
                        <div class="whitepay-payment-text">
                            <div class="whitepay-payment-text-bold">Cryptocurrency Payments&nbsp;</div>
                            <i>Process payments by cryptocurrencies via Whitepay.</i>
                        </div>
                    ]]>
                </comment>
                <field id="active"
                       translate="label tooltip"
                       type="select"
                       sortOrder="15"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <tooltip>Plugin state</tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title"
                       translate="label tooltip"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                    <tooltip>This title will be shown on the checkout page.</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>
                <field id="description"
                       translate="label tooltip"
                       type="textarea"
                       sortOrder="21"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Payment Description</label>
                    <tooltip>This text will be shown on the checkout page.</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>
                <field id='slug'
                       showInDefault='1'
                       showInStore='1'
                       showInWebsite='1'
                       sortOrder='30'
                       translate='label tooltip'
                       type='text'>
                    <label>Slug</label>
                    <tooltip>You can manage your Whitepay slug within the Whitepay Settings Account page - https://crm.whitepay.com/settings/account</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id='token'
                       showInDefault='1'
                       showInStore='1'
                       showInWebsite='1'
                       sortOrder='35'
                       translate='label tooltip'
                       type='text'>
                    <label>Token</label>
                    <tooltip>You can manage your Whitepay token within the Whitepay Settings Tokens page - https://crm.whitepay.com/settings/tokens; Created a specific payment page for this domain? Manage your Whitepay token within the Whitepay Payment pages section - https://crm.whitepay.com/payment-pages.</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id='webhook_token'
                       showInDefault='1'
                       showInStore='1'
                       showInWebsite='1'
                       sortOrder='40'
                       translate='label tooltip'
                       type='text'>
                    <label>Webhook Token</label>
                    <tooltip>Using a webhook will allow you to receive data on changes in order status (paid, cancelled) from Whitepay. To get a webhook token, you need to insert the Callback URL from this page to the Whitepay Settings Tokens page, create webhook and copy token.</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                    <validate>required-entry</validate>
                    <comment>
                        <![CDATA[
                        Use <strong>https://{your-domain}/whitepay/url/whitepaysuccess/</strong> where {your-domain} - your domain name
                        ]]>
                    </comment>
                </field>
                <field id='order_status'
                       showInDefault='1'
                       showInStore='1'
                       showInWebsite='1'
                       sortOrder='45'
                       translate='label tooltip'
                       type='select'>
                    <label>New Order Status</label>
                    <tooltip>Order status after creation</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id='after_pay_status'
                       showInDefault='1'
                       showInStore='1'
                       showInWebsite='1'
                       sortOrder='50'
                       translate='label tooltip'
                       type='select'>
                    <label>Status After Payment</label>
                    <tooltip>Order status after successful payment</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id='after_refund_status'
                       showInDefault='1'
                       showInStore='1'
                       showInWebsite='1'
                       sortOrder='55'
                       translate='label tooltip'
                       type='select'>
                    <label>Status After Declined Payment</label>
                    <tooltip>Order status after declined payment</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="send_confirmation_email"
                       translate="label tooltip"
                       type="select"
                       sortOrder="60"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Send Order Confirmation Email</label>
                    <tooltip>Send an order confirmation email when the order is processed.</tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>
                <field id="instructions"
                       translate="label tooltip"
                       type="textarea"
                       sortOrder="65"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Email Description</label>
                    <tooltip>This text will be shown in the transactional emails below the payment title.</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>
                <field id="min_order_amount"
                       translate="label tooltip"
                       type="text"
                       sortOrder="70"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Minimum Order Amount</label>
                    <tooltip>Minimum order amount to use Whitepay payment method.</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>
                <field id="max_order_amount"
                       translate="label tooltip"
                       type="text"
                       sortOrder="75"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Maximum Order Amount</label>
                    <tooltip>Maximum order amount to use Whitepay payment method.</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>
                <field id="allowed_carrier"
                       translate="label"
                       type="multiselect"
                       sortOrder="80"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Allowed Shipping Methods</label>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                </field>
                <field id="sort_order"
                       translate="label"
                       type="text"
                       sortOrder="85"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <tooltip>Defines the sort order of the section of payment methods.</tooltip>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                </field>
                <field id="debug"
                       translate="label tooltip"
                       type="select"
                       sortOrder="90"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Debug</label>
                    <depends>
                        <field id='active'>1</field>
                    </depends>
                    <tooltip>Enable debug mode (logging into /var/log/whitepay.log)</tooltip>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>